<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tun.r</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <h1>tun.r</h1>
    <h2>Your favorite hits from your favorite artists</h2>
    <ul>
      <li class="nav"><a href="/artists">Artist</a></li>
      <li class="nav"><a href="/songs">Songs</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
